<nb-card *ngIf="user$ | async as user" class="card-scroll">
  <nb-card-header class="d-flex gap-1">
    <ngx-back-navigation></ngx-back-navigation>
    <h4>
      {{ 'USERS_PAGE.EDIT_USER.HEADER' | translate }}
      <ng-container *ngIf="user?.firstName">
        <span> {{ user.firstName }} </span>
      </ng-container>
      <ng-container *ngIf="user?.lastName">
        <span> {{ user.lastName }} </span>
      </ng-container>
      <span *ngIf="user?.email">
				<ng-container
          *ngIf="user?.email; then withBraces; else withQuotes"
        >
				</ng-container>
				<ng-template #withBraces> ({{ user.email }}) </ng-template>
				<ng-template #withQuotes> '{{ user.email }}' </ng-template>
			</span>
    </h4>
  </nb-card-header>
  <nb-card-body>
    <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
  </nb-card-body>
</nb-card>

