<nb-card>
	<nb-card-header>
		<h1>{{ 'FAKE_DATA.FAKE_DATA_GENERATOR' | translate }}</h1>
	</nb-card-header>

	<nb-card-body>
		<div class="row">
			<div class="fakeData col">
				<div class="container-btn d-flex align-items-center">
					<button
						nbButton
						status="primary"
						[disabled]="isBtnDisabled.all"
						(click)="callAll()"
						[nbSpinner]="loading.all"
					>
						{{ 'FAKE_DATA.GENERATE_ALL' | translate }}!
					</button>
				</div>
			</div>

			<div class="fakeData my-auto col">
				<div class="container-btn float-right">
					<button
						nbButton
						status="danger"
						(click)="clearAll()"
						[disabled]="isBtnDisabled.clearAll"
						[nbSpinner]="loading.clearAll"
					>
						{{ 'FAKE_DATA.CLEAR_ALL' | translate }}!
					</button>
				</div>
			</div>
		</div>
	</nb-card-body>
</nb-card>





